<%= stylesheet_link_tag 'home' %>
<div class="text-center">
  <h1>Login</h1>
  <%= form_tag sessions_path do |form| %>
    <div class="field">
      <p>
        <%= label_tag :email %>
      </p>
        <%= text_field_tag :email %>
    </div>
    <divrails class="field">
      <p>
        <%= label_tag :password %>
      </p>
      <p>
        <%= password_field_tag :password %>
      </p>
    </div>
    <div class="actions col-xs-1" align="center">
      <%= submit_tag "Login" %>
    </div>
    <p id="alert"><%= alert %></p>
  <% end %>
</div>