<!DOCTYPE html>
<html>
  <head>
    <title>ROR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'home' %>
  </head>
  <body>
    <div class="container center_div">
      <div class="text-center form">
        <% if current_user %>
          <p class="d-flex flex-row-reverse">
            <%= link_to "Log Out", logout_path %>
            Welcome <%= current_user.email %>!
          </p>
          <p class="title">Welcome to ROR system!</p>       
        <% else %>
          <%= link_to "Sign Up", signup_path %> or 
          <%= link_to "Log In", login_path %>
        <% end %>
        <p id="notice"><%= notice %></p>
      </div>
    </div>
  </body>
</html>