// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    background-image: url("background_home");
    background-size: cover;
};

.form {
    line-height: 80px;
};

.title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
};
